[Unit]
Description=Firefox Session Cleanup

[Service]
Type=oneshot
ExecStart=/bin/bash -l -c 'exec "$@"' _ find "$HOME/.mozilla/firefox" -path "*/sessionstore-backups/*" -type f -print -exec rm -f "{}" \;

[Install]
WantedBy=default.target
