[Unit]
Description=Resilio Sync Service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=%h/Bin/rslsync --config %h/.sync/config.json
Restart=on-failure

[Install]
WantedBy=default.target
